[Desktop Entry]
_Name=surucolors
Exec=qmlscene %U surucolors/Main.qml
Icon=surucolors/surucolors.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#d4326b
